@font-face {
  font-family: 'source_sans_proregular';
  src: url("../fonts/sourcesanspro-regular.woff2") format("woff2"), url("../fonts/sourcesanspro-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_sans_prosemibold';
  src: url("../fonts/sourcesanspro-semibold.woff2") format("woff2"), url("../fonts/sourcesanspro-semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsthin';
  src: url("../fonts/poppins-thin.woff2") format("woff2"), url("../fonts/poppins-thin.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsblack';
  src: url("../fonts/poppins-black.woff2") format("woff2"), url("../fonts/poppins-black.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsbold';
  src: url("../fonts/poppins-bold.woff2") format("woff2"), url("../fonts/poppins-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsextrabold';
  src: url("../fonts/poppins-extrabold.woff2") format("woff2"), url("../fonts/poppins-extrabold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsextralight';
  src: url("../fonts/poppins-extralight.woff2") format("woff2"), url("../fonts/poppins-extralight.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinslight';
  src: url("../fonts/poppins-light.woff2") format("woff2"), url("../fonts/poppins-light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsmedium';
  src: url("../fonts/poppins-medium.woff2") format("woff2"), url("../fonts/poppins-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsregular';
  src: url("../fonts/poppins-regular.woff2") format("woff2"), url("../fonts/poppins-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinssemibold';
  src: url("../fonts/poppins-semibold.woff2") format("woff2"), url("../fonts/poppins-semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.form-control {
  min-height: 38px; }
  .form-control:disabled {
    background: #F0F0F7; }

.counter {
  display: none;
  font: 13px poppinsregular;
  color: #FF8373;
  position: absolute;
  right: 0;
  top: 9px; }
  .counter * {
    font-style: normal; }

span {
  font: 15px poppinsmedium;
  color: #656A88; }

label {
  font: 13px poppinsregular;
  color: #656A88;
  position: relative; }
  label.fs-15 {
    font-size: 15px; }
    label.fs-15 i {
      font-style: normal; }

input[type="text"] {
  font: 13px poppinsregular;
  color: #656A88; }

i.fa-check {
  position: absolute;
  left: -30px;
  font-size: 20px;
  top: 7px;
  color: #E1E1E1;
  font-weight: 100; }
  i.fa-check.active {
    color: #39D2FF; }

textarea {
  resize: none; }

.form-check {
  cursor: pointer; }
  .form-check .form-check-slide-input {
    outline: 0 !important; }
    .form-check .form-check-slide-input:checked:before {
      -webkit-transition: 0.3s;
      transition: 0.3s;
      left: 50%; }
    .form-check .form-check-slide-input:checked:after {
      -webkit-transition: 0.3s;
      transition: 0.3s;
      background-color: #4AD991; }
    .form-check .form-check-slide-input:before {
      -webkit-transition: 0.3s;
      transition: 0.3s;
      background: #fff !important;
      width: 18px !important;
      height: 18px !important;
      position: absolute;
      top: 2px;
      left: 5px;
      border-radius: 50%; }
    .form-check .form-check-slide-input:after {
      -webkit-transition: 0.3s;
      transition: 0.3s;
      content: "";
      width: 46px;
      height: 23px;
      background: #D2D2D2;
      display: block;
      border-radius: 30px; }
  .form-check label {
    cursor: pointer; }
  .form-check img {
    margin-left: 20px; }
  .form-check input[type="radio"] {
    cursor: pointer;
    -webkit-appearance: none;
    outline: 0 !important; }
    .form-check input[type="radio"]:checked:before {
      background-position: 0 0; }
    .form-check input[type="radio"]:before {
      content: "";
      background: url(../images/radio.png) no-repeat;
      display: block;
      width: 26px;
      height: 26px;
      background-position: -36px 0; }
  .form-check input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none; }
    .form-check input[type="checkbox"]:checked:before {
      background-position: 0 0; }
    .form-check input[type="checkbox"]:before {
      content: "";
      background: url(../images/checkbox.png) no-repeat;
      display: block;
      width: 26px;
      height: 26px;
      background-position: -29px 0; }

small {
  color: #656A88; }
  small.position-absolute {
    right: 0;
    margin-right: -35px; }

.fs-13 {
  font-size: 13px; }

sub {
  font: 11px poppinsregular;
  color: #BCBCCB; }

select {
  font: 13px poppinsregular !important;
  color: #656A88;
  -webkit-appearance: none;
  background: url(../images/selectBig.svg) right 10px center no-repeat; }

.input-group-text {
  font: 13px poppinsregular;
  background: #F0F0F7; }

.select2-container--default .select2-selection--multiple {
  border: 1px solid #bcbccb !important;
  padding: 5px 3px; }

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  margin: 2px 4px !important;
  font: 13px poppinsregular;
  color: #656A88;
  padding: 0 0 0 8px;
  line-height: 23px; }

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  float: right;
  margin: 0 0 0 8px !important;
  border-left: 1px solid #D2D2D2;
  padding: 0 5px; }

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background: #F0F0F7 !important;
  border: 1px solid #D2D2D2 !important; }

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  padding: 0 !important; }

.select2-container .select2-search--inline .select2-search__field {
  margin: 0 !important; }

.select2-results__option {
  font-size: 13px;
  padding: 5px 10px; }

.select2-dropdown {
  border: 1px solid #bcbccb; }

.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #f0f0f7 !important;
  color: #656A88 !important; }

.card-header .col {
  padding: 0 5px; }
  .card-header .col .form-control {
    min-height: initial; }
  .card-header .col select {
    padding-right: 37px; }
    .card-header .col select option {
      color: #656A88; }
  .card-header .col .input-group-text {
    padding: 5px;
    background: #fff;
    border: 1px solid #BCBCCB; }

.select2-selection--multiple {
  height: auto; }

/*# sourceMappingURL=form.css.map */