@font-face {
  font-family: 'source_sans_proregular';
  src: url("../fonts/sourcesanspro-regular.woff2") format("woff2"), url("../fonts/sourcesanspro-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_sans_prosemibold';
  src: url("../fonts/sourcesanspro-semibold.woff2") format("woff2"), url("../fonts/sourcesanspro-semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsthin';
  src: url("../fonts/poppins-thin.woff2") format("woff2"), url("../fonts/poppins-thin.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsblack';
  src: url("../fonts/poppins-black.woff2") format("woff2"), url("../fonts/poppins-black.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsbold';
  src: url("../fonts/poppins-bold.woff2") format("woff2"), url("../fonts/poppins-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsextrabold';
  src: url("../fonts/poppins-extrabold.woff2") format("woff2"), url("../fonts/poppins-extrabold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsextralight';
  src: url("../fonts/poppins-extralight.woff2") format("woff2"), url("../fonts/poppins-extralight.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinslight';
  src: url("../fonts/poppins-light.woff2") format("woff2"), url("../fonts/poppins-light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsmedium';
  src: url("../fonts/poppins-medium.woff2") format("woff2"), url("../fonts/poppins-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsregular';
  src: url("../fonts/poppins-regular.woff2") format("woff2"), url("../fonts/poppins-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinssemibold';
  src: url("../fonts/poppins-semibold.woff2") format("woff2"), url("../fonts/poppins-semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.blue {
  color: #39D2FF; }

.yellow {
  color: #FED300; }

.green {
  color: #4AD991; }

.purple {
  color: #A3A0FB; }

.orange {
  color: #FF8373; }

.other {
  color: #BCBCCB; }

.dropdown-item:active {
  background: #f8f9fa !important;
  color: #16181b !important; }

body {
  font-family: 'Poppins', sans-serif;
  background: #F0F0F7; }

.form-control {
  border-color: #BCBCCB; }

label {
  font-size: 14px;
  color: #656A88; }

.light-blue {
  background: #39D2FF;
  border-color: #39D2FF; }
  .light-blue:hover {
    background: #656A88;
    border-color: #656A88; }

a {
  text-decoration: none !important; }

.color {
  color: #656A88; }

.grey {
  color: #BCBCCB; }

.container-fluid {
  max-width: 1215px; }

ul li {
  list-style-type: none; }

.white {
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); }

.breadcrumb {
  margin: 0;
  background: none;
  padding: 15px 0; }
  .breadcrumb ul {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0; }
    .breadcrumb ul li {
      float: left; }
      .breadcrumb ul li:last-child a {
        opacity: 1; }
        .breadcrumb ul li:last-child a:after {
          display: none; }
      .breadcrumb ul li a {
        display: block;
        font: 20px source_sans_proregular;
        color: #656A88;
        opacity: 0.4;
        position: relative; }
        .breadcrumb ul li a:after {
          content: "/";
          margin: 0 5px; }

.loader {
  display: none;
  background: #fff;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  padding: 75px 0; }

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.fs-11 {
  font-size: 11px; }

.wrapper {
  position: fixed;
  left: 0;
  z-index: 9;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  overflow: hidden; }

#sidebarCollapse {
  background: none;
  border: none;
  padding: 12px 9px;
  outline: 0 !important;
  -webkit-box-shadow: initial !important;
          box-shadow: initial !important; }

#sidebar {
  min-width: 272px;
  max-width: 272px;
  background: #fff;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-bottom: 100px; }
  #sidebar::-webkit-scrollbar-track {
    background-color: #EFEFEF; }
  #sidebar::-webkit-scrollbar {
    width: 4px;
    background-color: #EFEFEF; }
  #sidebar::-webkit-scrollbar-thumb {
    background-color: #D4D4D4; }
  #sidebar ul.components {
    padding: 22px 17px;
    float: left;
    width: 100%;
    margin: 0; }
  #sidebar ul li:hover {
    -webkit-filter: none;
            filter: none; }
  #sidebar ul li a {
    text-align: left;
    padding: 13px 0;
    display: block;
    font: 15px poppinsregular;
    color: #3D3D3D;
    overflow: hidden;
    position: relative; }
    #sidebar ul li a:hover {
      color: #BCBCCB; }
    #sidebar ul li a i {
      color: #39D2FF;
      font-size: 23px;
      float: left;
      margin: 0 auto;
      width: 23px;
      text-align: center; }
    #sidebar ul li a img {
      float: left;
      margin: 4px 10px 4px 0; }
    #sidebar ul li a span {
      min-width: 220px;
      padding-left: 35px;
      display: block; }
  #sidebar .sidebar-header {
    height: 70px;
    background: #fff;
    border-bottom: 1px solid #DCDCDC; }
    #sidebar .sidebar-header strong {
      display: none;
      font-size: 1.8em; }
    #sidebar .sidebar-header span {
      margin: 0;
      padding: 12px 9px;
      display: block;
      position: absolute;
      left: 10px; }
  #sidebar.active {
    min-width: 60px;
    max-width: 60px;
    text-align: center; }
    #sidebar.active ul li a i {
      color: #D2D2D2; }
    #sidebar.active ul li a:before {
      opacity: 0;
      right: -100%;
      -webkit-transition: 0.4s;
      transition: 0.4s; }
    #sidebar.active .dropdown-toggle:after {
      top: auto;
      bottom: 10px;
      right: 50%;
      -webkit-transform: translateX(50%);
      transform: translateX(50%); }
    #sidebar.active .sidebar-header span {
      width: 32px;
      overflow: hidden; }
    #sidebar.active .sidebar-header strong {
      display: block; }
  #sidebar .dropdown-toggle::after {
    display: none; }
  #sidebar .dropdown-toggle::before {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    content: "";
    background: url(../images/select.svg) no-repeat;
    width: 12px;
    height: 12px;
    display: block;
    float: right;
    margin: 7px;
    position: absolute;
    right: 10px; }
  #sidebar ul li {
    float: left;
    width: 100%; }
    #sidebar ul li ul {
      padding-left: 35px;
      float: left;
      width: 100%; }
      #sidebar ul li ul span {
        padding: 0; }
      #sidebar ul li ul li a {
        padding: 5px 0; }

nav span, nav .page-link {
  font: 13px poppinsregular;
  color: #656A88;
  border: 1px solid #D7DAE2;
  display: block;
  text-align: center;
  float: left;
  border-radius: 4px;
  padding: 8px 15px;
  margin: 0 2px; }
nav ul {
  padding: 0;
  float: right;
  margin: 0; }
  nav ul li.active span {
    background-color: #e9ecef !important;
    border-color: #dee2e6 !important;
    color: #0056b3 !important; }

.mb-200 {
  margin-bottom: 200px; }

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.btn-link {
  border: 1px solid #D2D2D2;
  font: 13px poppinsregular;
  color: #3D3D3D !important;
  text-decoration: none !important;
  text-align: left;
  width: auto;
  padding: 8px 10px;
  white-space: nowrap;
  overflow: hidden; }
  .btn-link:hover {
    background: #F0F0F7;
    border-color: #F0F0F7; }
  .btn-link i {
    color: #39D2FF;
    font-size: 17px;
    float: left;
    margin: 1px 6px 0 0; }
  .btn-link:after {
    float: right;
    background: url(../images/selectBig.svg) no-repeat;
    border: none;
    width: 18px;
    height: 11px;
    margin: 5px 0 0 5px; }

.btn-primary {
  background: #39D2FF !important;
  border: none; }
  .btn-primary i {
    margin-right: 5px;
    font-size: 16px;
    font-weight: 100; }

.bottomFixedOptinos {
  left: 0;
  padding: 18px 0;
  bottom: 0;
  z-index: 10; }
  .bottomFixedOptinos .select {
    border: 1px solid #BCBCCB;
    border-radius: .25rem; }
    .bottomFixedOptinos .select span {
      float: left;
      font: 13px poppinsregular;
      color: #3D3D3D;
      padding: 6px 10px; }
    .bottomFixedOptinos .select select {
      border: none;
      padding-left: 0; }
  .bottomFixedOptinos a {
    font-size: 13px; }
    .bottomFixedOptinos a.red {
      color: #B86565;
      text-decoration: underline !important; }
  .bottomFixedOptinos p {
    font: 15px poppinsregular;
    color: #656A88; }
  .bottomFixedOptinos select {
    font: 13px poppinsregular;
    color: #3D3D3D;
    background: url(../images/selectBig.svg) no-repeat right 10px center;
    -webkit-appearance: none;
    width: auto;
    padding-right: 50px; }
  .bottomFixedOptinos .tabs ul {
    border: none;
    margin: 4px 0 0 0; }
    .bottomFixedOptinos .tabs ul li {
      font: 19px source_sans_proregular;
      color: #D2D2D2;
      margin: 0 15px; }
      .bottomFixedOptinos .tabs ul li a {
        font: 15px poppinsregular;
        color: #656A88;
        display: block;
        position: relative; }
        .bottomFixedOptinos .tabs ul li a sum {
          border-radius: 50%;
          text-align: center;
          display: block;
          float: left;
          margin: -5px 8px 0 0;
          border: 1px solid #D2D2D2;
          font: 19px source_sans_proregular;
          color: #D2D2D2;
          width: 35px;
          height: 35px;
          padding: 3px; }
        .bottomFixedOptinos .tabs ul li a.active sum {
          background: #39D2FF;
          border-color: #39D2FF;
          color: #fff; }

.t-20 {
  top: 20px; }

.mw-55 {
  max-width: 55% !important; }

.fs-13 {
  font-size: 13px;
  padding: 9px; }

@media only screen and (max-width: 1350px) {
  .container-fluid {
    padding-left: 80px; } }
.sidebar .card {
  border: none;
  border-radius: 0; }
.sidebar .card-title {
  font: 15px poppinsmedium;
  color: #656A88;
  border: none;
  border-radius: 0; }
.sidebar ul li {
  padding: 0 0 5px 0; }
  .sidebar ul li a {
    color: #B86565;
    font-size: 16px;
    line-height: 22px;
    display: block; }
  .sidebar ul li small {
    color: #b8baca; }

/*# sourceMappingURL=global.css.map */
