@font-face {
  font-family: 'source_sans_proregular';
  src: url("../fonts/sourcesanspro-regular.woff2") format("woff2"), url("../fonts/sourcesanspro-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_sans_prosemibold';
  src: url("../fonts/sourcesanspro-semibold.woff2") format("woff2"), url("../fonts/sourcesanspro-semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsthin';
  src: url("../fonts/poppins-thin.woff2") format("woff2"), url("../fonts/poppins-thin.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsblack';
  src: url("../fonts/poppins-black.woff2") format("woff2"), url("../fonts/poppins-black.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsbold';
  src: url("../fonts/poppins-bold.woff2") format("woff2"), url("../fonts/poppins-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsextrabold';
  src: url("../fonts/poppins-extrabold.woff2") format("woff2"), url("../fonts/poppins-extrabold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsextralight';
  src: url("../fonts/poppins-extralight.woff2") format("woff2"), url("../fonts/poppins-extralight.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinslight';
  src: url("../fonts/poppins-light.woff2") format("woff2"), url("../fonts/poppins-light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsmedium';
  src: url("../fonts/poppins-medium.woff2") format("woff2"), url("../fonts/poppins-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsregular';
  src: url("../fonts/poppins-regular.woff2") format("woff2"), url("../fonts/poppins-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinssemibold';
  src: url("../fonts/poppins-semibold.woff2") format("woff2"), url("../fonts/poppins-semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.top-page .note {
  font: 13px poppinsregular;
  color: #656A88; }
  .top-page .note strong {
    font-family: poppinssemibold; }
.top-page .search {
  position: relative; }
  .top-page .search input[type="text"] {
    font: 13px poppinsregular;
    color: #656A88;
    height: 38px;
    padding-right: 40px; }
    .top-page .search input[type="text"]::-webkit-input-placeholder {
      color: #D2D2D2; }
    .top-page .search input[type="text"]:-ms-input-placeholder {
      color: #D2D2D2; }
    .top-page .search input[type="text"]::-ms-input-placeholder {
      color: #D2D2D2; }
    .top-page .search input[type="text"]::placeholder {
      color: #D2D2D2; }
  .top-page .search .submit {
    position: absolute;
    right: 0;
    top: 0; }
    .top-page .search .submit input, .top-page .search .submit button {
      background: none;
      border: none;
      -webkit-box-shadow: initial;
              box-shadow: initial;
      padding: 6px 10px; }
      .top-page .search .submit input i, .top-page .search .submit button i {
        color: #39D2FF;
        font-size: 23px;
        outline: 0; }

table small {
  display: block; }
table thead {
  background: #FAFAFA; }
  table thead tr {
    background: #F8F8F8; }
  table thead th {
    padding: 18px 20px;
    font: 14px poppinsmedium;
    color: #656A88;
    background: url(../images/filter.svg) left 8px top 22px no-repeat;
    outline: 0;
    cursor: pointer;
    white-space: pre; }
    table thead th img {
      margin: 0 auto;
      text-align: center;
      display: block;
      float: left; }
    table thead th:last-child {
      padding: 0;
      outline: 0;
      background: none; }
table tbody {
  padding: 25px; }
table tr {
  border-bottom: 1px solid #e2e2e8;
  border-top: 1px solid #e2e2e8; }
  table tr.active td {
    padding: 8px 13px; }
  table tr:hover {
    background: #F9F9F9; }
  table tr td {
    padding: 15px 22px;
    font: 13px poppinsregular;
    color: #656A88; }
    table tr td .disable {
      pointer-events: none;
      border: none;
      padding: 0;
      height: auto;
      background: none;
      -webkit-appearance: none; }
    table tr td .form-control, table tr td a {
      font: 13px poppinsregular;
      color: #656A88; }
    table tr td img {
      margin: 0 20px 0 auto;
      text-align: center;
      display: block; }
    table tr td:last-child {
      padding: 0; }
table .dropdown {
  width: 40px;
  height: 30px;
  display: -webkit-inline-box; }
  table .dropdown .btn-primary {
    width: 34px;
    height: 34px;
    border-radius: 4px; }
    table .dropdown .btn-primary i {
      margin: 0; }
  table .dropdown.show button {
    border-color: red; }
  table .dropdown button {
    background: none;
    border: 1px solid #fff;
    outline: 0 !important;
    -webkit-box-shadow: inherit !important;
            box-shadow: inherit !important;
    padding: 0;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: block;
    text-align: center;
    margin: 0 auto; }
    table .dropdown button:after {
      display: none; }
  table .dropdown .dropdown-menu {
    float: right;
    left: initial !important;
    right: 0 !important;
    top: 50%;
    margin: 10px 0;
    -webkit-transform: initial;
            transform: initial; }
    table .dropdown .dropdown-menu:after {
      content: "";
      background: url(../images/select-ico.png) no-repeat;
      display: block;
      position: absolute;
      top: -20px;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
      width: 20px;
      height: 20px;
      right: 15px; }

.dt-buttons {
  float: right;
  display: none; }
  .dt-buttons.show {
    display: block; }

#example_filter, .dataTables_filter {
  display: none; }

#example_wrapper, .dataTables_wrapper {
  padding-bottom: 100px;
  position: relative; }
  #example_wrapper .dataTables_length, .dataTables_wrapper .dataTables_length {
    position: absolute;
    bottom: 30px;
    left: 30px; }
    #example_wrapper .dataTables_length label, .dataTables_wrapper .dataTables_length label {
      font: 13px poppinsregular;
      color: #656A88; }
    #example_wrapper .dataTables_length select, .dataTables_wrapper .dataTables_length select {
      height: 30px;
      font: 15px poppinsregular;
      color: #656A88;
      padding: 0 10px;
      -moz-appearance: none;
      -webkit-appearance: none;
      background: url(../images/select.svg) right 10px center no-repeat;
      width: 71px;
      border-radius: 4px; }
  #example_wrapper .paging_simple_numbers, .dataTables_wrapper .paging_simple_numbers {
    position: absolute;
    right: 30px;
    margin: 30px 0; }
    #example_wrapper .paging_simple_numbers a, .dataTables_wrapper .paging_simple_numbers a {
      float: left;
      border: 1px solid #D7DAE2;
      font: 13px poppinsregular;
      color: #656A88;
      border-radius: 4px;
      padding: 8px 10px;
      cursor: pointer; }
    #example_wrapper .paging_simple_numbers span, .dataTables_wrapper .paging_simple_numbers span {
      margin: 0 2px;
      float: left;
      display: block; }
      #example_wrapper .paging_simple_numbers span a, .dataTables_wrapper .paging_simple_numbers span a {
        font: 13px poppinsregular;
        color: #656A88;
        border: 1px solid #D7DAE2;
        width: 40px;
        height: 38px;
        display: block;
        text-align: center;
        float: left;
        border-radius: 4px;
        padding: 10px;
        margin: 0 2px; }
        #example_wrapper .paging_simple_numbers span a.current, .dataTables_wrapper .paging_simple_numbers span a.current {
          background: #F0F0F7; }

.top-page .select {
  border: 1px solid #d2d2d2;
  border-radius: .25rem;
  padding: 1px; }
  .top-page .select span {
    float: left;
    font: 13px poppinsregular;
    color: #3D3D3D;
    padding: 8px 10px; }
  .top-page .select select {
    border: none;
    padding-left: 0; }
.top-page a {
  font-size: 13px; }
  .top-page a.red {
    color: #B86565;
    text-decoration: underline !important; }
.top-page p {
  font: 15px poppinsregular;
  color: #656A88; }
.top-page select {
  font: 13px poppinsregular;
  color: #3D3D3D;
  background: url(../images/selectBig.svg) no-repeat right 10px center;
  -webkit-appearance: none;
  width: auto;
  padding-right: 50px; }
.top-page .tabs ul {
  border: none;
  margin: 4px 0 0 0; }
  .top-page .tabs ul li {
    font: 19px source_sans_proregular;
    color: #D2D2D2;
    margin: 0 15px; }
    .top-page .tabs ul li a {
      font: 15px poppinsregular;
      color: #656A88;
      display: block;
      position: relative; }
      .top-page .tabs ul li a sum {
        border-radius: 50%;
        text-align: center;
        display: block;
        float: left;
        margin: -5px 8px 0 0;
        border: 1px solid #D2D2D2;
        font: 19px source_sans_proregular;
        color: #D2D2D2;
        width: 35px;
        height: 35px;
        padding: 3px; }
      .top-page .tabs ul li a.active sum {
        background: #39D2FF;
        border-color: #39D2FF;
        color: #fff; }

/*# sourceMappingURL=listingTable.css.map */
