@font-face {
  font-family: 'source_sans_proregular';
  src: url("../fonts/sourcesanspro-regular.woff2") format("woff2"), url("../fonts/sourcesanspro-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_sans_prosemibold';
  src: url("../fonts/sourcesanspro-semibold.woff2") format("woff2"), url("../fonts/sourcesanspro-semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsthin';
  src: url("../fonts/poppins-thin.woff2") format("woff2"), url("../fonts/poppins-thin.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsblack';
  src: url("../fonts/poppins-black.woff2") format("woff2"), url("../fonts/poppins-black.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsbold';
  src: url("../fonts/poppins-bold.woff2") format("woff2"), url("../fonts/poppins-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsextrabold';
  src: url("../fonts/poppins-extrabold.woff2") format("woff2"), url("../fonts/poppins-extrabold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsextralight';
  src: url("../fonts/poppins-extralight.woff2") format("woff2"), url("../fonts/poppins-extralight.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinslight';
  src: url("../fonts/poppins-light.woff2") format("woff2"), url("../fonts/poppins-light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsmedium';
  src: url("../fonts/poppins-medium.woff2") format("woff2"), url("../fonts/poppins-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsregular';
  src: url("../fonts/poppins-regular.woff2") format("woff2"), url("../fonts/poppins-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinssemibold';
  src: url("../fonts/poppins-semibold.woff2") format("woff2"), url("../fonts/poppins-semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.fileManagerModal {
  color: #656A88;
  font-size: 13px; }
  .fileManagerModal button.close {
    font-weight: 100;
    font-size: 40px;
    position: absolute;
    right: 20px;
    top: 20px; }
  .fileManagerModal table {
    border: none;
    margin: 0; }
    .fileManagerModal table tr td {
      text-align: left;
      width: auto !important; }
  .fileManagerModal .image-page table tr td {
    vertical-align: top;
    font-size: 13px;
    padding: 5px 10px 5px 0; }
  .fileManagerModal .modal-content {
    border-radius: initial;
    border: none;
    background: none; }
    .fileManagerModal .modal-content .modal-bg {
      background: #fff;
      -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
              box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); }
    .fileManagerModal .modal-content .modal-body {
      width: 100%;
      padding: 0; }
      .fileManagerModal .modal-content .modal-body i.danger {
        font-size: 70px;
        text-align: center;
        display: block;
        color: #B86565;
        margin: 0 0 30px 0; }
      .fileManagerModal .modal-content .modal-body p {
        font-size: 17px;
        margin: 0; }
      .fileManagerModal .modal-content .modal-body .head {
        font-weight: 600; }
      .fileManagerModal .modal-content .modal-body img {
        max-width: 100%;
        max-height: 100%; }
      .fileManagerModal .modal-content .modal-body .col-form-label {
        color: #393939; }
      .fileManagerModal .modal-content .modal-body .form-control {
        border-radius: initial; }
      .fileManagerModal .modal-content .modal-body .left-rotate, .fileManagerModal .modal-content .modal-body .right-rotate {
        font-size: 11px;
        border: 1px solid  #ced4da;
        width: 100%;
        color: black;
        background: none;
        height: 39px;
        line-height: 23px;
        border-radius: 6px; }
        .fileManagerModal .modal-content .modal-body .left-rotate img, .fileManagerModal .modal-content .modal-body .right-rotate img {
          margin-right: 5px; }
      .fileManagerModal .modal-content .modal-body .rotate-img {
        height: 315px;
        overflow: hidden; }
        .fileManagerModal .modal-content .modal-body .rotate-img img {
          -webkit-transition: .4s;
          transition: .4s; }
  .fileManagerModal .modal-dialog {
    max-width: 950px; }

.modal-backdrop.show {
  opacity: 1 !important; }

.modal-backdrop {
  background-color: #F0F0F7 !important; }
