@font-face {
  font-family: 'source_sans_proregular';
  src: url("../fonts/sourcesanspro-regular.woff2") format("woff2"), url("../fonts/sourcesanspro-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_sans_prosemibold';
  src: url("../fonts/sourcesanspro-semibold.woff2") format("woff2"), url("../fonts/sourcesanspro-semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsthin';
  src: url("../fonts/poppins-thin.woff2") format("woff2"), url("../fonts/poppins-thin.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsblack';
  src: url("../fonts/poppins-black.woff2") format("woff2"), url("../fonts/poppins-black.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsbold';
  src: url("../fonts/poppins-bold.woff2") format("woff2"), url("../fonts/poppins-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsextrabold';
  src: url("../fonts/poppins-extrabold.woff2") format("woff2"), url("../fonts/poppins-extrabold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsextralight';
  src: url("../fonts/poppins-extralight.woff2") format("woff2"), url("../fonts/poppins-extralight.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinslight';
  src: url("../fonts/poppins-light.woff2") format("woff2"), url("../fonts/poppins-light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsmedium';
  src: url("../fonts/poppins-medium.woff2") format("woff2"), url("../fonts/poppins-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsregular';
  src: url("../fonts/poppins-regular.woff2") format("woff2"), url("../fonts/poppins-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinssemibold';
  src: url("../fonts/poppins-semibold.woff2") format("woff2"), url("../fonts/poppins-semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.select-head {
  background: #fff; }

.uploadTabs li a {
  border-radius: 0 !important;
  border: none !important;
  color: #656A88;
  font-size: 16px;
  position: relative;
  z-index: 1;
  padding: .9rem 2rem;
  -webkit-transition: .4s;
  transition: .4s; }
  .uploadTabs li a:after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: -1;
    opacity: 0;
    -webkit-transition: .4s;
    transition: .4s; }
  .uploadTabs li a.active:after {
    opacity: 1; }

.fileBoxBig-1 {
  height: 160px;
  border: 1px solid #CECECE;
  color: #3D3D3D !important;
  font-size: 17px;
  padding: 50px 0;
  border-radius: 3px;
  width: 180px; }
  .fileBoxBig-1:before {
    content: "";
    background: url("../images/image.png") no-repeat center center;
    padding: 15px;
    display: block; }

.select-head i {
  font-style: normal;
  font-size: 12px;
  top: 0;
  left: 0;
  padding: 10px 10px 7px; }
.select-head select, .select-head input {
  border-radius: inherit;
  color: #CECECE; }

.filter-option {
  padding-right: 0 !important;
  font: 15px poppinsregular; }

.divider {
  height: 0;
  margin: .5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef; }

.bootstrap-select {
  background: #fff;
  border-radius: inherit;
  background-color: inherit; }
  .bootstrap-select > .dropdown-toggle {
    background: inherit !important;
    border-color: #CECECE;
    border-radius: inherit;
    color: #656A88;
    font-size: 12px;
    height: 38px;
    line-height: 24px;
    outline: none !important;
    padding-left: 85px;
    padding-right: 29px; }
    .bootstrap-select > .dropdown-toggle:after {
      border-bottom: 2px solid #39D2FF;
      border-right: 2px solid #39D2FF;
      content: '';
      display: block;
      height: 8px;
      margin-top: -2px;
      pointer-events: none;
      -webkit-transform-origin: 66% 66%;
      transform-origin: 66% 66%;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
      width: 8px;
      border-top: 0;
      border-left: 0;
      position: absolute;
      right: 15px; }
  .bootstrap-select.show .dropdown-toggle:after {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg); }
  .bootstrap-select .dropdown-menu {
    border-radius: inherit;
    color: #656A88;
    font-size: 12px;
    border-color: #CECECE;
    margin: -1px 0; }
    .bootstrap-select .dropdown-menu li a {
      display: block;
      padding: 2px 15px; }
      .bootstrap-select .dropdown-menu li a.active {
        background-color: #F0F0F7;
        color: #656A88; }
      .bootstrap-select .dropdown-menu li a small {
        color: #656A88 !important;
        font-size: 12px;
        float: right; }
      .bootstrap-select .dropdown-menu li a span {
        width: 100%;
        font: 12px poppinsregular; }

input.image-check {
  border-radius: inherit;
  height: 33px;
  padding: 2px .75rem 0 0;
  color: #656A88;
  font-size: 12px; }

.w-65 {
  width: 65% !important; }

.tab-content {
  color: #656A88;
  font-size: 14px; }
  .tab-content .col-md-4:nth-child(2) .select-head .bootstrap-select > .dropdown-toggle {
    padding-left: 55px; }

* {
  outline: none !important; }

.selected-files {
  display: none;
  color: #656A88;
  font-size: 16px;
  min-height: 143px; }
  .selected-files .swiper-button-next, .selected-files .swiper-button-prev {
    color: #39D2FF;
    background: #fff; }
    .selected-files .swiper-button-next:after, .selected-files .swiper-button-prev:after {
      font-size: 20px; }
  .selected-files .swiper-button-disabled {
    opacity: 0; }
  .selected-files .swiper-container {
    padding: 0 30px; }
  .selected-files .slick-track {
    margin-left: 0;
    margin-right: 0; }
  .selected-files .item {
    margin: 0 5px;
    width: 95px; }
    .selected-files .item .images {
      position: relative;
      width: 95px;
      height: 95px;
      line-height: 95px;
      text-align: center;
      border: 2px  dashed #CECECE;
      overflow: hidden;
      border-radius: 3px; }
      .selected-files .item .images .remove {
        position: absolute;
        top: 0;
        right: 0;
        width: 19px;
        height: 19px;
        z-index: 1;
        cursor: pointer;
        background: #28A9D9 url("../images/remove.png") no-repeat center center; }
      .selected-files .item .images img {
        max-width: 100%;
        max-height: 100%;
        position: relative;
        top: -2px; }
      .selected-files .item .images em {
        position: absolute;
        bottom: 5px;
        right: 5px;
        color: #CECECE;
        font: normal 24px/24px 'Poppins', sans-serif;
        z-index: -1; }
      .selected-files .item .images b {
        display: none; }

.z-index {
  z-index: 9999 !important; }

.modal-tooltip {
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 3; }
  .modal-tooltip .tooltip-body {
    background: #ffffff;
    width: 335px;
    position: absolute;
    bottom: 50%;
    right: 50%;
    z-index: 2;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    margin: -10px -160px; }
    .modal-tooltip .tooltip-body span {
      color: #656A88;
      font-size: 12px;
      background: #F0F0F7;
      line-height: normal; }
    .modal-tooltip .tooltip-body p {
      color: #656A88;
      font-size: 14px;
      margin-bottom: 0; }
    .modal-tooltip .tooltip-body .form .form-check input[type="checkbox"]:before {
      -webkit-transform: scale(0.9);
              transform: scale(0.9); }
    .modal-tooltip .tooltip-body button {
      border: 1px solid #BCBCCB;
      width: 78px;
      height: 26px;
      background: none;
      color: #656A88;
      font-size: 13px;
      cursor: pointer;
      border-radius: 3px;
      line-height: 26px;
      -webkit-transition: .4s;
      transition: .4s; }
      .modal-tooltip .tooltip-body button:hover {
        background-color: #39D2FF;
        color: #ffffff; }
  .modal-tooltip.modal-right .tooltip-body {
    right: 70px;
    bottom: 110px;
    margin: 0; }
    .modal-tooltip.modal-right .tooltip-body:before {
      content: "";
      position: absolute;
      bottom: -32px;
      right: 20px;
      background: url("../images/path-1.png") no-repeat 0 0;
      width: 38px;
      height: 38px; }
  .modal-tooltip.modal-left .containers {
    max-width: 1000px;
    margin: 0 auto; }
  .modal-tooltip.modal-left .tooltip-body {
    bottom: inherit;
    top: 120px;
    left: 55px;
    right: inherit;
    margin: 0; }
    .modal-tooltip.modal-left .tooltip-body:before {
      content: "";
      position: absolute;
      bottom: -32px;
      left: 30px;
      background: url("../images/path-2.png") no-repeat 0 0;
      width: 38px;
      height: 38px; }

.open > .dropdown-menu {
  display: block; }

.gallery {
  -webkit-column-count: 4;
  column-count: 4;
  -webkit-column-width: 33%;
  column-width: 33%; }

.form-check {
  top: 0;
  right: 0; }

.dz-started .fileBoxBig {
  display: inline-block !important; }

.fileBoxBig {
  display: none !important;
  position: relative;
  width: 140px;
  height: 140px;
  margin: 5px;
  vertical-align: top;
  border: 1px solid #D2D2D2;
  text-align: center;
  color: #3D3D3D;
  font-size: 17px;
  padding: 41px 0; }
  .fileBoxBig:before {
    content: "";
    background: url("../images/image.png") no-repeat center center;
    padding: 15px;
    display: block; }

.miniSel button {
  padding: 0 !important;
  text-indent: -9999px; }
.miniSel .dropdown-menu {
  min-width: 180px; }

.mb-150 {
  margin-bottom: 150px !important;
  overflow: hidden; }

.date-select button {
    padding-left: 50px !important;
}

.modal-tooltip.modal-left {
    height: auto !important; }
.modal-tooltip.modal-left:before {
    content: "";
    background: #000;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed; }

.modal-tooltip.modal-left .tooltip-body {
    top: -150px;
    left: 50%;
    margin-left: -40%;
}

span.filter-option.pull-left {
    display:flex;
    align-items:center;
}
